.c-button {
  padding: ($spacing-unit/2.5) $spacing-unit;
  background-color: color(secondary);
  border-radius: $border-radius;
  color: #fff;
  transition: background-color 150ms ease;
  text-align: center;
  line-height: $base-line-height;
  display: inline-block;
  vertical-align: middle;

  &:hover {
    color: #fff;
    background-color: lighten(color(secondary), 5%);
  }
}

.c-button--white {
  color: color(secondary);
  text-shadow: none;
  background-color: #fff;
  box-shadow: 0 2px 0px transparentize(#000, .75);
  transition: box-shadow 150ms ease;

  &:hover {
    color: color(secondary);
    background-color: #fff;
    box-shadow: 0 4px 10px transparentize(#000, .75);
  }
}

.c-button--outline {
  background-color: transparent;
  text-shadow: none;
  border: 1px solid transparentize(#fff, .25);
  color: transparentize(#fff, .25);
  box-shadow: none;

  &:hover {
    background: transparent;
    border-color: #fff;
  }
}

.c-link {
  padding: $spacing-unit/4 $spacing-unit/2;
  color: currentColor;

  &:hover {
    background-color: transparentize(color(link), .85);
    text-shadow: 0 1px 0 transparentize(#000, .85);
  }
}

.c-link--white {
  color: #fff;

  &:hover {
    background-color: transparentize(#000, .85);
  }
}
