// MOVIE THUMBNAIL
.c-movie-thumbnail {

}

.c-movie-thumbnail__poster {
  max-width: 100%;
  display: block;
}

.c-movie-thumbnail__title {
  font-size: 1.125em;
  color: color(text--dark);
  font-weight: bold;
}

.c-movie-thumbnail__gender {
  color: color(link);
  font-size: 1em;
}
