$snack-background: #2a3540 !default;

.c-snackbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 100%, 0);
  min-width: 20em;
  max-width: 100%;
  background-color: $snack-background;
  transition: transform 200ms ease-in-out;
  display: flex;
  z-index: 21;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-style: preserve-3d;
  border: 0;
  color: #fff;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  @include mq(900px) {
    max-width: 900px;
  }
}
.c-snackbar__message,
.c-snackbar__action {
  vertical-align: middle;
  padding: $spacing-unit;
  margin-top: 0;
  margin-bottom: 0;
}
.c-snackbar__message {
  flex: 1;
}
.c-snackbar__action {
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 500;
  text-align: right;
  outline: none;
  border: 0;
  background-color: transparent;
  outline: none;
}
.c-snackbar--active {
  transform: translate3d(-50%, 0, 0);
}
.c-snackbar__action--info {
  color: $blue;
}
.c-snackbar__action--success {
  color: $green;
}
.c-snackbar__action--danger {
  color: $red;
}
