@include widths($columns);

@each $breakpoint in $breakpoints {
  $alias: nth($breakpoint, 1);
  @include mq($alias) {
    @each $column in $columns {
      @include widths($column, -#{$alias});
    }
  }
}

.u-grid {
  padding-left: 0;
  letter-spacing: -6px;
  margin-left: -$spacing-unit !important;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;

  > [class*="u-"] {
    display: inline-block;
    display: flex;
    vertical-align: top;
    letter-spacing: normal;
    padding-left: $spacing-unit;
    padding-bottom: $spacing-unit;
  }
}

.u-grid--bare {
  margin-left: 0 !important;

  > [class*="u-"] {
    padding-left: 0;
    padding-bottom: 0;
  }
}

.u-grid--single-line {
  > [class*="u-"] {
    padding-bottom: 0;
  }
}
