$blue:            #0077B3;
$red:             #D14159;
$green:           #35A16B;
$light-green:     #66CC99;
$light-red:       #F07E91;
$dark-blue:       #005580;
$grey-blue:       #5194B8;
// $orange:          #F5552C;
$yellow:          #F4C542;
$orange:          #f6633c;

$primary-color:   $grey-blue;

$palette: (
  blue: (
    default: #276798, // forecast 1
    light: #8de0ff, // rain
    dark: #2a3540, // filters, footer
  ),
  brand: (
    default: #006838, // brandgreen 1
    light: #8bc43e, // brandgreen 2
  ),
  green: (
    default: #22a36e, // green 1
    light: #69c028, // green 2
    fade: #a8d765, // green 3
    pale: #e9f5d8, // hover menu
  ),
  yellow: (
    default: #ffbb00, // sun
    darker: #ff9000, // notifications
  ),
  red: (
    default: #f2c600, // alerts,
    actual-red: #f96565,
  ),
  grey: (
    default: #cccccc, // clouds
    light: #ebeef0, // light grey
    dark: #b8bfc3, // icons
    fade: #bcc2c6,
  ),
  anthracite: (
    default: #869097, // text 3
    dark: #52667a, // text 2
    darker: #2a3540, // text 1
    light: #c9d0d6, // text 4
  ),
  forecast-blue: (
    default: #276798, // forecast 1
    shade-1: #3e709b, // forecast 2
    shade-2: #4a7aa1, // forecast 3
  ),
);
$colors: (
  text: palette(anthracite),
  text--dark: palette(anthracite, dark),
  text--darker: palette(anthracite, darker),
  text--light: palette(grey, light),
  brand: palette(green),
  brand--light: palette(green, light),
  clouds: palette(grey),
  light--grey: palette(grey, light),
  rain: palette(blue, light),
  alerts: palette(red),
  danger: palette(red, actual-red),
  notifications: palette(yellow, darker),
);
$font-ui: 'Montserrat', -apple-system, 'Roboto', 'Segoe UI', sans-serif;
$font-headings: 'Montserrat', -apple-system, 'Roboto', 'Segoe UI', sans-serif;
$font-text: 'Open Sans', -apple-system, 'Roboto', 'Segoe UI', sans-serif;
$font-mono: 'Fira Mono', 'Inconsolata', 'Monaco', monospace;
$spacing-unit: 16px;
$container-width: 800px;
$container-width--narrow: 600px;
$global-header-height: 60px;
$global-header-height--large: $global-header-height;
$width-mobile-menu: 280px;
$ratio: 1.414;
$first-breakpoint: 25em;
$breakpoints: (
  "split"       "#{$first-breakpoint}",
  "half"        "#{$first-breakpoint*$ratio}",
  "bottle"      "#{$first-breakpoint*$ratio*$ratio}",
  "magnum"      "#{$first-breakpoint*$ratio*$ratio*$ratio}",
  "jeroboam"    "#{$first-breakpoint*$ratio*$ratio*$ratio*$ratio}",
  "methuselah"  "#{$first-breakpoint*$ratio*$ratio*$ratio*$ratio*$ratio}"
);
$columns: (
  1,
  2,
  3,
  4,
  5,
  6
);
$react-dates-width-input: 12 * $spacing-unit;
$react-dates-color-primary: linear-gradient(10deg, palette(green), palette(green, light));
$react-dates-color-focus: #fff;
