@mixin mq($mq) {
  $breakpoint-found: false;
  @each $breakpoint in $breakpoints {
    $alias:     nth($breakpoint, 1);
    $condition: nth($breakpoint, 2);
    @if $mq == $alias and $condition {
      $breakpoint-found: true;
      @media (min-width: #{$condition}) {
        @content;
      }
    }
  }
  @if $breakpoint-found == false {
    @media (min-width: #{$mq}) {
      @content;
    }
  }
}

@mixin container($narrow: false) {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;

  @if $narrow {
    width: $container-width--small;
  } @else {
    width: $container-width;
  }
}

@mixin widths($columns, $breakpoint: null) {
  @each $denominator in $columns {
    @if ($denominator == 1) {
      .u#{$breakpoint}-1\/1 {
        width: 100% !important;
      }
    } @else {
      @for $numerator from 1 to $denominator {
        .u#{$breakpoint}-#{$numerator}\/#{$denominator} {
          width: ($numerator / $denominator) * 100% !important;
        }
      }
    }
  }
}
