.u-flex {
  display: flex;
}

.u-flex--vertical-center {
  align-items: center;
}

.u-flex--center {
  justify-content: center;
}

.u-flex__1 {
  flex: 1;
}

.u-flex__2 {
  flex: 2;
}

.u-flex__3 {
  flex: 3;
}

.u-align-left {
  text-align: left;
}

.u-align-right {
  text-right: right;
}

.u-align-center {
  text-align: center;
}

h2 > small {
  display: block;
  color: palette(anthracite);
  font-size: .625em;
  margin-top: $spacing-unit;
}
