$palette: (
  red: (
    default: #F52C2C, // red
  ),
  grey: (
    default: #cccccc, // clouds
    light: #ebeef0, // light grey
    dark: #b8bfc3, // icons
  ),
  blue: (
    default: #3377FF, // links
    fade: #99A6BF, // text light
    dark: #3F557F, // text
    darker: #192233, // text darker
  ),
  green: (
    default: #22a36e, // green 1
    light: #69c028, // green 2
    fade: #a8d765, // green 3
    pale: #e9f5d8, // hover menu
  ),
  yellow: (
    default: #FFBB00, // light yellow
    warmer: #FFA200, // secondary brand
  ),
);

$colors: (
  primary: palette(red),
  secondary: palette(yellow, warmer),
  link: palette(blue),
  text: palette(blue, dark),
  text--light: palette(blue, fade),
  text--dark: palette(blue, darker),
);

$font-text: -apple-system, 'Roboto', 'Segoe UI', sans-serif;
$font-headings: 'Oswald', sans-serif;

$spacing-unit: 16px;
$container-width: 800px;
$container-width--narrow: 600px;

$header-height: 60px;
$global-header-height--large: $header-height;
$width-mobile-menu: 280px;

$outline-style: 4px solid transparentize(color(secondary), .5);
$base-line-height: 1.5;
$border-radius: 10px;

$ratio: 1.414;
$first-breakpoint: 25em;

$breakpoints: (
  "split"       "#{$first-breakpoint}",
  "half"        "#{$first-breakpoint*$ratio}",
  "bottle"      "#{$first-breakpoint*$ratio*$ratio}",
  "magnum"      "#{$first-breakpoint*$ratio*$ratio*$ratio}",
  "jeroboam"    "#{$first-breakpoint*$ratio*$ratio*$ratio*$ratio}",
  "methuselah"  "#{$first-breakpoint*$ratio*$ratio*$ratio*$ratio*$ratio}"
);

$columns: (
  1,
  2,
  3,
  4,
  5,
  6
);
