html {

}

body {
  font-family: $font-text;
  color: #fff;
  background-image: url('../static/media/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  min-height: 100vh;
}

// h1,
// h2,
// h3,
// h4 {
//   font-family: $font-headings;
//   letter-spacing: -1px;
//   color: color(text--dark);
//   font-weight: bold;
// }

// h1 {
//   font-size: 3em;
// }

// h2 {
//   font-size: 1.75em;
// }

// h3 {
//   font-size: 1.5em;
// }

// h4 {
//   font-size: 1.25em;
// }

a {
  text-decoration: none;
  color: color(link);
  line-height: $base-line-height;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
